

/* Especificidad: 0,0,0,1 */
header {
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 1.25rem;
    flex-direction: row;
    flex-wrap: wrap;
}

/* Especificidad: 0,0,0,2 */
h1 + nav {
    display: flex;
    gap: 1.25rem; 
}





