
@keyframes changeBackground {
    from { background-color: #000A; } /* Color inicial */
    to { background-color: red; } /* Color final */
}

@keyframes out {
    from { background-color: red; } /* Color inicial */
    to { background-color: #000A; } /* Color final */
}
main {
    width: 60%;
    height: 50%;
    margin: auto;
    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    gap: 5% 3%;
    align-items: center;
}

main > p {
    grid-column: 2 / 4;
    text-align: center;
    grid-row: 1;
} 



h2 {
    grid-column: 2 / -1;
    text-align: center;
    grid-row: 1;
}

div {
    background-color: #000A;
    border: 5px solid black;
    aspect-ratio: 1;
    border-radius: 50%;
    grid-row: 2;
}

main >  article{
    grid-column: 2 / 4;
    grid-row: 4;
    display: flex; /* Activa el diseño en fila */
    flex-direction: column;
    gap: 10px; /* Espaciado entre los elementos */
    align-items: center; /* Alinea verticalmente los elementos */
}

table{
    grid-row: 4;
    grid-column: 2 / 4;
    align-items: center;
}

article > p {
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: column; /* Alinea los elementos verticalmente */
    gap: 10px; /* Espaciado entre los elementos */
    width: 100%; /* Hace que el formulario ocupe todo el ancho disponible */
}

form input, form select, form textarea, form button {
    width: 100%; /* Hace que los campos de entrada y botones ocupen todo el ancho disponible */
    padding: 10px;
    margin: 0;
    box-sizing: border-box; /* Asegura que el padding no afecte al tamaño total del elemento */
}

form label {
    font-weight: bold; /* Para que las etiquetas sean más destacadas */
}




main.unload div {
    animation-name: out;
    animation-duration: 0.1s;
    animation-fill-mode: forwards;
}

main.load div {
    animation-name: changeBackground;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

main.load div:nth-of-type(1) {
    animation-delay: 0s;
}

main.load div:nth-of-type(2) {
    animation-delay: 0.5s;
}

main.load div:nth-of-type(3) {
    animation-delay: 1s;
}

main.load div:nth-of-type(4) {
    animation-delay: 1.5s;
}

button:first-of-type {
    grid-column: 2 / span 1;
    grid-row: 3;
}

button:nth-of-type(2) {
    grid-column: 3 / span 1;
    grid-row: 3;
}

